# ================================= partie web =================================
/web/*
!/web/evenements
/web/evenements/*
!/web/evenements/noimage.png
# ================================= partie app =================================
/app/*
!/app/config
/app/config/*
!/app/config/config.yml
!/app/config/routing.yml
!/app/config/security.yml
!/app/config/services.yml
!/app/AppKernel.php
!/app/Resources/
/app/Resources/*
!/app/Resources/FOSUserBundle
# ================================= partie bin =================================
/bin/

# ================================= partie var =================================
/var/

# =============================== partie vendor ================================
/vendor/

# =============================== partie fichier ===============================
composer.lock
.htaccess