# ================================= partie web =================================
/web/*

# ================================= partie app =================================
/app/*
!/app/config/config.yml
!/app/config/routing.yml
!/app/config/security.yml
!/app/config/services.yml
!/app/AppKernel.php

# ================================= partie bin =================================
/bin/

# ================================= partie var =================================
/var/

# =============================== partie vendor ================================
/vendor/

# =============================== partie fichier ===============================
composer.lock
.htaccess