# ================================= partie web =================================
/web/*
!/web/evenements
/web/evenements/*
!/web/evenements/noimage.png
!/web/revuepresse
/web/revuepresse/*
!/web/revuepresse/noimage.png
!/web/revuepresse/scan
/web/revuepresse/scan/*
!/web/revuepresse/scan/noscan.pdf
# ================================= partie app =================================
#/app/*
#!/app/config
#/app/config/*
#!/app/config/config.yml
#!/app/config/routing.yml
#!/app/config/security.yml
#!/app/config/services.yml
#!/app/config/parameters.yml.dist
#!/app/AppKernel.php
#!/app/Resources/
#/app/Resources/*
#!/app/Resources/FOSUserBundle
# ================================= partie bin =================================
#/bin/

# ================================= partie var =================================
#/var/

# =============================== partie vendor ================================
/vendor/

# =============================== partie fichier ===============================
composer.lock
.htaccess
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
#/var/
###< symfony/framework-bundle ###

/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
