<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/5.1/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="vendor/autoload.php"
>
    <php>
        <ini name="error_reporting" value="-1" />
        <server name="KERNEL_CLASS" value="AppKernel" />

        <!-- ###+ symfony/framework-bundle ### -->
        <env name="APP_ENV" value="dev"/>
        <env name="APP_SECRET" value="3431be04f08b9fea81f16519de11a7b5"/>
        <!-- ###- symfony/framework-bundle ### -->

        <!-- ###+ doctrine/doctrine-bundle ### -->
        <!-- Format described at https://www.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url -->
        <!-- IMPORTANT: You MUST configure your server version, either here or in config/packages/doctrine.yaml -->
        <!--  -->
        <!-- DATABASE_URL="sqlite:///%kernel.project_dir%/var/data.db" -->
        <!-- DATABASE_URL="mysql://db_user:db_password@127.0.0.1:3306/db_name?serverVersion=5.7&charset=utf8mb4" -->
        <env name="DATABASE_URL" value="postgresql://symfony:ChangeMe@127.0.0.1:5432/app?serverVersion=13&amp;charset=utf8"/>
        <!-- ###- doctrine/doctrine-bundle ### -->

        <!-- ###+ google/recaptcha ### -->
        <!-- To use Google Recaptcha, you must register a site on Recaptcha's admin panel: -->
        <!-- https://www.google.com/recaptcha/admin -->
        <env name="GOOGLE_RECAPTCHA_SITE_KEY" value=""/>
        <env name="GOOGLE_RECAPTCHA_SECRET" value=""/>
        <!-- ###- google/recaptcha ### -->

        <!-- ###+ excelwebzone/recaptcha-bundle ### -->
        <env name="EWZ_RECAPTCHA_SITE_KEY" value=""/>
        <env name="EWZ_RECAPTCHA_SECRET" value=""/>
        <!-- ###- excelwebzone/recaptcha-bundle ### -->
    </php>

    <testsuites>
        <testsuite name="Balancelle Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
            <exclude>
                <directory>src/*Bundle/Resources</directory>
                <directory>src/*/*Bundle/Resources</directory>
                <directory>src/*/Bundle/*Bundle/Resources</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
