{% extends '@Balancelle/Default/layout.html.twig' %}

{% block body %}
    {{ parent() }}
        <h1>Edition d'un utilisateur</h1>
        <div class="row">
            <div class="col-md-3">
                <div class="card person-card">
                    <img id="img_sex" class="person-img"
                        src="https://visualpharm.com/assets/217/Life%20Cycle-595b40b75ba036ed117d9ef0.svg">
                </div>
            </div>
            <div class="col-md-8">    
                {% include "@Balancelle/Enfant/form_enfant.html.twig" %}

            </div>
            <div class="col-md-1"></div>    
        </div>
    </div>
</div>
{% endblock %}
