{% extends '@Balancelle/Default/layout.html.twig' %}

{% block body %}
        {{ parent() }}
        <h1>Création d'une famille</h1>
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-8">
                {% include "@Balancelle/famille/form_famille.html.twig" %}
            </div>
            <div class="col-md-1"></div>
        </div>

    </div>
</div>
{% endblock %}
