<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">
            <li class="active-link">
                <a href="{{ path('app_admin_index') }}" >
                    <i class="fa fa-th-list "></i>Accueil
                </a>
            </li>
            <li class="active-link">
                <a href="{{ path('app_admin_evenements_liste') }}" >
                    <i class="fa fa-calendar"></i>Evènements 
                </a>
            </li>
            <li class="active-link">
                <a href="{{ path('app_admin_revuepresse_liste') }}" >
                    <i class="fa fa-file-text-o"></i>Revue de presse
                </a>
            </li>            
            <!--li>
                <a href="ui.html"><i class="fa fa-table "></i>UI Elements  <span class="badge">Included</span></a>
            </li>
            <li>
                <a href="blank.html"><i class="fa fa-edit "></i>Blank Page  <span class="badge">Included</span></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-qrcode "></i>My Link One</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-bar-chart-o"></i>My Link Two</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-edit "></i>My Link Three </a>
            </li>
            <li>
                <a href="#"><i class="fa fa-table "></i>My Link Four</a>
            </li>
             <li>
                <a href="#"><i class="fa fa-edit "></i>My Link Five </a>
            </li-->
        </ul>
    </div>
</nav>