body {
    background-color: #e9ebee;
}

.card {
    margin-top: 1em;
}

/* IMG displaying */
.person-card {
    margin-top: 1em;
    padding-top: 1em;
}
.person-card .card-title{
    text-align: center;
}
.person-card .person-img{
    width: 10em;
    position: absolute;
    top: 5em;
    text-align: center;
    margin-left: 3em;
    border-radius: 100%;
    overflow: hidden;
    background-color: white;
}
