<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Connexion - La Balancelle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="assets/images/icon/favicon.ico">

</head>

<body>
{% include '@Balancelle/Default/strdash.css.html.twig' %}
<!--[if lt IE 8]>
<p class="browserupgrade">Vous utilisez un navigateur <strong>obsolète</strong>. <a href="http://browsehappy.com/">Mettez à jour</a> votre navigateur pour une meilleure expérience</p>
<![endif]-->
<!-- preloader area start -->
<div id="preloader">
    <div class="loader"></div>
</div>
<!-- preloader area end -->
<!-- login area start -->
<div class="login-area login-bg">
    <div class="container">
        {% block fos_user_content %}
        {% endblock fos_user_content %}

    </div>
</div>
<!-- login area end -->
{% include '@Balancelle/Default/strdash.js.html.twig' %}
</body>

</html>