{% block javascripts %}
    <script 
        type="text/javascript" 
        src="{{ asset('bundles/app/js/classie.js') }}" >
    </script>
    <script>
	(function() {
            // trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
            if (!String.prototype.trim) {
                (function() {
                    // Make sure we trim BOM and NBSP
                    var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
                    String.prototype.trim = function() {
                        return this.replace(rtrim, '');
                    };
                })();
            }

            [].slice.call( 
                document.querySelectorAll( 'input.input__field' ) 
            ).forEach( function( inputEl ) {
                // in case the input is already filled..
                if( inputEl.value.trim() !== '' ) {
                    classie.add( inputEl.parentNode, 'input--filled' );
                }

                // events:
                inputEl.addEventListener( 'focus', onInputFocus );
                inputEl.addEventListener( 'blur', onInputBlur );
            } );

            function onInputFocus( ev ) {
                classie.add( ev.target.parentNode, 'input--filled' );
            }

            function onInputBlur( ev ) {
                if( ev.target.value.trim() === '' ) {
                    classie.remove( ev.target.parentNode, 'input--filled' );
                }
            }
	})();
</script>
{% endblock %}
<!-- contact -->
<div id="mail" class="contact">
    <div class="container">
        <h3 class="w3_agileits_head">Get In 
            <span class="w3_child">T</span>
            <span class="w3_child1">o</span>
            <span class="w3_child4">u</span>
            <span class="w3_child2">c</span>
            <span class="w3_child1">h</span>
        </h3>
        <p class="w3_agile_elit">Quisque dictum elit in nunc malesuada lacinia. 
            Cras id porttitor turpis.</p>
        <div class="agile_banner_bottom_grids">
            <div class="col-md-4 w3_agile_contact_grid">
                <div class="col-xs-4 agile_contact_grid_left">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                </div>
                <div class="col-xs-8 agile_contact_grid_right agilew3_contact">
                        <h4>Address</h4>
                        <p>435 City hall, NewYork City SD092.</p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-4 w3_agile_contact_grid">
                <div class="col-xs-4 agile_contact_grid_left agileits_w3layouts_left">
                        <i class="fa fa-mobile" aria-hidden="true"></i>
                </div>
                <div class="col-xs-8 agile_contact_grid_right agileits_w3layouts_right">
                        <h4>Phone</h4>
                        <p>+(1234) 2332 232 <span>+(1236) 2334 232</span></p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-4 w3_agile_contact_grid">
                <div class="col-xs-4 agile_contact_grid_left agileits_w3layouts_left1">
                         <i class="fa fa-envelope-o" aria-hidden="true"></i>
                </div>
                <div class="col-xs-8 agile_contact_grid_right agileits_w3layouts_right1">
                        <h4>Email</h4>
                        <p><a href="mailto:info@example.com">info@example1.com</a>
                        <span>
                            <a href="mailto:info@example.com">info@example2.com</a>
                        </span></p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="agile_banner_bottom_grids">
            <form action="#" method="post">
                <div class="col-md-6 w3_agileits_contact_left">
                    <span class="input input--akira">
                        <input class="input__field input__field--akira" 
                            type="text" id="input-22" name="Name" placeholder="" 
                            required="" />
                        <label class="input__label input__label--akira" for="input-22">
                            <span class="input__label-content input__label-content--akira">Your Name</span>
                        </label>
                    </span>
                    <span class="input input--akira">
                        <input class="input__field input__field--akira" type="email" id="input-23" name="Email" placeholder="" required="" />
                        <label class="input__label input__label--akira" for="input-23">
                            <span class="input__label-content input__label-content--akira">Your Email</span>
                        </label>
                    </span>
                    <span class="input input--akira">
                        <input class="input__field input__field--akira" type="text" id="input-24" name="Subject" placeholder="" required="" />
                        <label class="input__label input__label--akira" for="input-24">
                            <span class="input__label-content input__label-content--akira">Your Subject</span>
                        </label>
                    </span>
                </div>
                <div class="col-md-6 w3_agileits_contact_right">
                    <div class="w3_agileits_contact_right1">
                        <textarea name="Message" placeholder="Your comment here..." required=""></textarea>
                    </div>
                    <div class="w3_agileits_contact_right2">
                        <input type="submit" value=" ">
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </form>
        </div>
    </div>
</div>
<!-- //contact -->