<!-- header -->
<div class="w3_agile_header">
    <div class="container">
        <div class="w3_agile_header_left">
            <img
            src="{{asset('bundles/app/images/logos/balancelle.jpeg')}}"
            alt=" "
            class="img-responsive"
            width="48"
            height="48"/>
        </div>
        <div class="w3_agile_header_left">
            <p>Association loi 1901</p>
        </div>
        <div class="w3_agile_header_right">
            <ul>
                <li>
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    04 76 35 47 52
                </li>
                <!--li>
                    <a 
                        href="#small-dialog"
                        class="play-icon popup-with-zoom-anim">Connexion
                    </a>
                </li-->
                <li>
                    <a href="{{ path('balancelle_homepage') }}" target="_blank">
                    intranet
                    </a>
                </li>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>