<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="fr">
    {% include '@App/Default/head.html.twig' %}
    {% block stylesheets_autre %}
        
    {% endblock %}
<body>
    {% include '@App/Default/header.html.twig' %}
    {% include '@App/Default/menu.html.twig' %}
    {% block body %} 
        
    {% endblock %}
    {% include '@App/Default/footer.html.twig' %}
</body>
</html>