<div 
    class="modal video-modal fade" 
    id="event_01" 
    tabindex="-1" 
    role="dialog" 
    aria-labelledby="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                26 / 06 / 2018 - 20h30 - salle des fêtes de Moirans
                <button 
                    type="button" 
                    class="close" 
                    data-dismiss="modal" 
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>						
            </div>
            <section>
                <div class="modal-body">
                    <div class="w3_modal_body_left">
                        <img src="{{asset('bundles/app/images/30ans/jean_epstein.jpeg')}}" 
                             alt=" " 
                             class="img-responsive" />
                    </div>
                    <div class="w3_modal_body_right">
                        <h4>Conférence sur la parentalité: <br/> 
                        "Père... mère... la juste place de chacun" par Jean Epstein</h4>
                        <p>Après sa conférence sur l'éveil des sens il y a 27 ans,
                        Jean EPSTEIN, Auteur de « l’explorateur nu » et 
                        « le jeu enjeux », revient à la Balancelle pour
                        une conférence suivie d'un temps d'échanges et de débat.<br/>
                        Cette manifestation est organisée dans le cadre du mois 
                        du Parental avec l’ACEPP Nationale.<br/><br/>

                        L' accueil se fera à partir de 19 h30. Un buffet et une 
                        buvette vous sera proposé.</p>
                    </div>
                    <iframe 
                        id="haWidget" 
                        allowtransparency="true" 
                        src="https://www.helloasso.com/associations/la-balancelle/evenements/conference-sur-la-parentalite-par-jean-epstein/widget" 
                        style="width:100%;height:750px;border:none;" 
                        onload="window.scroll(0, this.offsetTop)">
                    </iframe>
                    <div style="width:100%;text-align:center;">
                        Propulsé par 
                        <a href="https://www.helloasso.com" rel="nofollow">
                            HelloAsso
                        </a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </section>
        </div>
    </div>
</div>
                    
<div 
    class="modal video-modal fade" 
    id="event_02" 
    tabindex="-1" 
    role="dialog" 
    aria-labelledby="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                29 / 06 / 2018 - 18h30 - jardin du multi-accueil
                <button 
                    type="button" 
                    class="close" 
                    data-dismiss="modal" 
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>						
            </div>
            <section>
                <div class="modal-body">
                    <div class="w3_modal_body_left">
                        <img 
                            src="{{ asset('bundles/app/images/30ans/piquenique.jpg') }}" 
                            alt=" " 
                            class="img-responsive" />
                    </div>
                    <div class="w3_modal_body_right">
                        <h4> Pique-nique familial et spectacle pour les enfants</h4>
                        <p>Pour réunir les petits, les parents et les professionnelles 
                        autour d'un moment de partage, 
                        suivi d'un spectacle offert par "Lou y es tu?"</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </section>
        </div>
    </div>
</div>

<div 
    class="modal video-modal fade" 
    id="event_03" 
    tabindex="-1" 
    role="dialog" 
    aria-labelledby="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                18 / 11 / 2018
                <button 
                    type="button" 
                    class="close" 
                    data-dismiss="modal" 
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>						
            </div>
            <section>
                <div class="modal-body">
                    <div class="w3_modal_body_left">
                        <img 
                            src="{{ asset('bundles/app/images/30ans/bal.jpg') }}" 
                            alt=" " 
                            class="img-responsive" />
                    </div>
                    <div class="w3_modal_body_right">
                        <h4> Exposition et bal</h4>
                        <p>Vous avez fréquenté la Balancelle en tant qu'enfant 
                            il y a 30 ans ou moins ? Venez avec une photo de 
                            vous à l'époque et une photo récente pour créer une 
                            rétrospective. Vous pourrez également alimenter 
                            notre grand livre d'or avec des messages ou des 
                            souvenirs... <br /> A 15 h 00, un bal réunira les 
                            petits, les parents et les professionnelles autour 
                            des musiques du monde avec la compagnie 
                            <a href="http://www.superlevure.fr/?page_id=35" target="_blank">
                                superlevure
                            </a>
                        </p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </section>
        </div>
    </div>
</div>