<!-- newsletter -->
<div id="newsletter" class="newsletter">
    <div class="container">
        <div class="col-md-5 w3layouts_newsletter_left">
            <h3>S'inscrire à notre newsletter</h3>
        </div>
        <div class="col-md-6 w3layouts_newsletter_right">
            <form action="#" method="post">
                <input type="email" name="Email" placeholder="Email..." required="">
                <input type="submit" value="S'inscrire">
            </form>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- //newsletter -->