<!-- stats -->
<div id="quisommesnous" class="quisommesnous">
    
        <h3 class="w3_agileits_head">La
            <span class="w3_child">b</span>
            <span class="w3_child1">a</span>
            <span class="w3_child2">l</span>
            <span class="w3_child3">a</span>
            <span class="w3_child4">n</span>
            <span class="w3_child3">c</span>
            <span class="w3_child2">e</span>
            <span class="w3_child1">l</span>
            <span class="w3_child">l</span>
            <span class="w3_child4">e</span>
        </h3><br/>
        <p class="w3_agile_elit"></p><br/><br/>
    <div class="quisommesnouscontainer">
        
        <div class="col-xs-12 col-sm-6 col-md-4 quisommesnous_pos quisommesnous1">
            <h4>Nos atouts</h4><br/>
            <ul>
                <li><i class="fa fa-check-square-o" aria-hidden="true"></i>
                    30 ans d'expérience dans la petite enfance avec l'obtention
                    du label parental de l'
                    <a href="https://www.acepp.asso.fr/ACEPP-38-73">ACEPP</a></li>
                <li><i class="fa fa-check-square-o" aria-hidden="true"></i>
                    des locaux situés au coeur de la vie moirannaise </li>
                <li><i class="fa fa-check-square-o" aria-hidden="true"></i>
                    une capacité d'accueil de 45 enfants par jour dans 3 
                    structures différentes </li>
                <li><i class="fa fa-check-square-o" aria-hidden="true"></i>
                    l'intégration des parents à tous les niveaux de 
                    fonctionnement de l'association </li>
            </ul>
        </div>
        <div class="col-xs-0 col-sm-6 col-md-4 quisommesnous1img">
            <img 
                src="{{ asset('bundles/app/images/balancelle/01.jpg') }}" 
                alt=" " 
                class="img-responsive" 
            />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 quisommesnous_pos quisommesnous2">
                <h4>Notre projet éducatif</h4><br/>
             <ul>
                <li><i class="fa fa-check-square-o" aria-hidden="true"></i>
                    un accueil respectueux du rythme et des différences de 
                    chacun, favorisant l'autonomie et la socialisation</li>
                <li><i class="fa fa-check-square-o" aria-hidden="true"></i>
                    des activités d'éveil variées : langage des signes pour 
                    bébés, maquillage sensoriel, motricité libre ...</li>
                <li><i class="fa fa-check-square-o" aria-hidden="true"></i>
                    des sorties-découverte : médiathèque, ludothèque, école de 
                    musique, musée ...</li>
                <li><i class="fa fa-check-square-o" aria-hidden="true"></i>
                    des liens privilégiés avec les écoles et le foyer-logement 
                    pour personnes âgées</li>
                <li><i class="fa fa-check-square-o" aria-hidden="true"></i>
                    des menus bio et locaux composés par une diététicienne et 
                    cuisinés sur place</li>
                <li><i class="fa fa-check-square-o" aria-hidden="true"></i>
                    la possibilité d'initier les enfants aux couches lavables</li>
            </ul>
        </div>
        <div class="col-xs-0 col-sm-6 col-md-4 quisommesnous2img">
            <img 
                src="{{ asset('bundles/app/images/balancelle/02.jpg') }}" 
                alt=" " 
                class="img-responsive"
            />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 quisommesnous_pos quisommesnous3">
            <h4>Notre philosophie</h4><br/>
            <i>"Les parents sont les premiers éducateurs de l'enfant."</i><br/>
            Le bon fonctionnement de la Balancelle repose sur une relation de 
            confiance entre parents et professionnels et l'implication des 
            parents à travers un système de permanences auprès des enfants.<br/>
            D'autres modes de participation sont possibles en parallèle : 
            <ul>
                <li><i class="fa fa-check-square-o" aria-hidden="true"></i>
                    accompagnement aux sorties</li>
                <li><i class="fa fa-check-square-o" aria-hidden="true"></i>
                    café des parents thématiques (autour de l'alimentation, 
                    du sommeil, de la motricité ...)</li>
                <li><i class="fa fa-check-square-o" aria-hidden="true"></i>
                    partage de compétences à travers de commissions (bricolage,
                    spectacle, photo ...)</li>
            </ul>
        </div>
        <div class="col-xs-0 col-sm-6 col-md-4 quisommesnous3img">
            <img 
                src="{{ asset('bundles/app/images/balancelle/03.jpg') }}" 
                alt=" " 
                class="img-responsive" 
            />
        </div>
</div>
<!-- //stats -->