<!-- stats -->
<div class="stats">
    <div class="container">
        <div class="col-md-3 w3layouts_stats_grid">
            <i class="fa fa-male w3_agile_i" aria-hidden="true"></i>
            <p class="counter">2314+</p>
            <h4>Students</h4>
            <div class="agile_stats_grid w3ls_stats_grid">
                    <i></i>
            </div>
        </div>
        <div class="col-md-3 w3layouts_stats_grid">
            <i class="fa fa-flask w3_agile_i1" aria-hidden="true"></i>
            <p class="counter">1344+</p>
            <h4>Labs</h4>
            <div class="agile_stats_grid w3ls_stats_grid1">
                    <i></i>
            </div>
        </div>
        <div class="col-md-3 w3layouts_stats_grid">
            <i class="fa fa-cloud w3_agile_i2" aria-hidden="true"></i>
            <p class="counter">4563+</p>
            <h4>Classes</h4>
            <div class="agile_stats_grid w3ls_stats_grid2">
                    <i></i>
            </div>
        </div>
        <div class="col-md-3 w3layouts_stats_grid">
            <i class="fa fa-graduation-cap w3_agile_i3" aria-hidden="true"></i>
            <p class="counter">1257+</p>
            <h4>Team</h4>
            <div class="agile_stats_grid w3ls_stats_grid3">
                    <i></i>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- //stats -->