<!-- structures -->
<div id="programs" class="programs">
    <div class="container">
        <h3 class="w3_agileits_head">
            <span class="w3_child">N</span>
            <span class="w3_child1">o</span>
            <span class="w3_child4">s</span> 
            Structures</h3>
        <p class="w3_agile_elit">
            Quisque dictum elit in nunc malesuada lacinia. Cras id porttitor 
            turpis.</p>
        <div class="agile_banner_bottom_grids">
            <div id="verticalTab">
                <ul class="resp-tabs-list">
                    <li><i class="fa fa-rocket" aria-hidden="true"></i>
                        Multi accueil</li>
                    <li><i class="fa fa-music" aria-hidden="true"></i>
                        Jardin d'enfants</li>
                    <li><i class="fa fa-bed" aria-hidden="true"></i>
                        Crèche familiale</li>
                    <!--li><i class="fa fa-gamepad" aria-hidden="true"></i>Sport Games</li-->
                </ul>
                <div class="resp-tabs-container">
                    <div class="w3layouts_vertical_tab">
                        <p>Proin id arcu odio. Proin tincidunt ante lacus, at commodo felis 
                            aliquam eu. Praesent ut turpis venenatis, aliquam mauris tempus, lobortis 
                            nunc. Pellentesque maximus ipsum turpis.
                            <i>" Cras feugiat dui augue, in malesuada sem porta id. Mauris tempor 
                                    aliquam risus eget sagittis. Nulla eu imperdiet mauris.</i></p>
                        <ul>
                            <li><i class="fa fa-check-square-o" aria-hidden="true"></i>Nulla eu imperdiet mauris in nunc</li>
                            <li><i class="fa fa-check-square-o" aria-hidden="true"></i>Vestibulum posuere eros et ante auctor</li>
                            <li><i class="fa fa-check-square-o" aria-hidden="true"></i>Curabitur leo nisl, viverra eu urna id</li>
                            <li><i class="fa fa-check-square-o" aria-hidden="true"></i>Suspendisse potenti uisque dictum elit</li>
                            <li><i class="fa fa-check-square-o" aria-hidden="true"></i>Phasellus a eros eleifend, vehicula ante</li>
                        </ul>
                    </div>
                    <div class="w3layouts_vertical_tab">
                        <p>Donec felis mi, tristique in sodales non, porttitor id orci. 
                            Mauris vulputate placerat justo vitae sollicitudin. Nunc venenatis tortor 
                            dapibus magna commodo gravida.
                            <i>" Cras feugiat dui augue, in malesuada sem porta id. Mauris tempor 
                                    aliquam risus eget sagittis. Nulla eu imperdiet mauris.</i></p>
                        <ul>
                            <li><i class="fa fa-check-square-o" aria-hidden="true"></i>Nulla eu imperdiet mauris in nunc</li>
                            <li><i class="fa fa-check-square-o" aria-hidden="true"></i>Vestibulum posuere eros et ante auctor</li>
                            <li><i class="fa fa-check-square-o" aria-hidden="true"></i>Curabitur leo nisl, viverra eu urna id</li>
                            <li><i class="fa fa-check-square-o" aria-hidden="true"></i>Suspendisse potenti uisque dictum elit</li>
                            <li><i class="fa fa-check-square-o" aria-hidden="true"></i>Phasellus a eros eleifend, vehicula ante</li>
                        </ul>
                    </div>
                    <div class="w3layouts_vertical_tab">
                    <p>Integer ac condimentum ligula. Ut malesuada in purus convallis venenatis, 
                            lobortis nunc. Pellentesque maximus ipsum turpis.Nulla eu imperdiet mauris.
                             Fusce cursus convallis malesuada.
                            <i>" Cras feugiat dui augue, in malesuada sem porta id. Mauris tempor 
                                    aliquam risus eget sagittis. Nulla eu imperdiet mauris.</i></p>
                        <ul>
                            <li><i class="fa fa-check-square-o" aria-hidden="true"></i>Nulla eu imperdiet mauris in nunc</li>
                            <li><i class="fa fa-check-square-o" aria-hidden="true"></i>Vestibulum posuere eros et ante auctor</li>
                            <li><i class="fa fa-check-square-o" aria-hidden="true"></i>Curabitur leo nisl, viverra eu urna id</li>
                            <li><i class="fa fa-check-square-o" aria-hidden="true"></i>Suspendisse potenti uisque dictum elit</li>
                            <li><i class="fa fa-check-square-o" aria-hidden="true"></i>Phasellus a eros eleifend, vehicula ante</li>
                        </ul>
                    </div>
                    <!--div class="w3layouts_vertical_tab">
                    <p>Quisque dictum elit in nunc malesuada lacinia. Cras id porttitor turpis. 
                            Nulla scelerisque ut lectus vitae tincidunt. Duis nec tellus at nunc blandit 
                            malesuada.Cras rhoncus varius arcu.
                            <i>" Cras feugiat dui augue, in malesuada sem porta id. Mauris tempor 
                                    aliquam risus eget sagittis. Nulla eu imperdiet mauris.</i></p>
                        <ul>
                            <li><i class="fa fa-check-square-o" aria-hidden="true"></i>Nulla eu imperdiet mauris in nunc</li>
                            <li><i class="fa fa-check-square-o" aria-hidden="true"></i>Vestibulum posuere eros et ante auctor</li>
                            <li><i class="fa fa-check-square-o" aria-hidden="true"></i>Curabitur leo nisl, viverra eu urna id</li>
                            <li><i class="fa fa-check-square-o" aria-hidden="true"></i>Suspendisse potenti uisque dictum elit</li>
                            <li><i class="fa fa-check-square-o" aria-hidden="true"></i>Phasellus a eros eleifend, vehicula ante</li>
                        </ul>
                    </div-->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //structures -->
