<!-- structures -->
<div id="structures" class="programs">
    <div class="container">
        <h3 class="w3_agileits_head">Nos
            <span class="w3_child">s</span>
            <span class="w3_child1">e</span>
            <span class="w3_child2">r</span>
            <span class="w3_child3">v</span>
            <span class="w3_child4">i</span>
            <span class="w3_child3">c</span>
            <span class="w3_child2">e</span>
            <span class="w3_child1">s</span>
        </h3><br />
        <p class="w3_agile_elit"></p>

        <div class="agile_banner_bottom_grids">
            <div id="verticalTab">
                <ul class="resp-tabs-list">
                    <li><i class="fa fa-puzzle-piece" aria-hidden="true"></i>
                        Multi accueil</li>
                    <li><i class="fa fa-music" aria-hidden="true"></i>
                        Jardin d'enfants éducatif</li>
                    <li><i class="fa fa-home" aria-hidden="true"></i>
                        Crèche familiale</li>
                </ul>
                <div class="resp-tabs-container">
                    <div class="w3layouts_vertical_tab">
                        <p style="color:#0B3861"><b>Le multi-accueil est destiné aux enfants âgés de 3 
                                mois à 6 ans. Deux modes de garde sont possibles :</b> 
                        </p>
                        <ul> 
                            <li><i class="fa fa-check-square-o" 
                                aria-hidden="true"></i>
                                la crèche (20 places en accueil régulier)
                            </li>
                            <li><i class="fa fa-check-square-o" 
                                aria-hidden="true"></i>
                                la halte-garderie (accueil occasionnel)
                            </li>
                        </ul>
                        <p style="color:#0B3861"><b>Son projet éducatif repose sur : </b></p>
                        <ul>
                            <li><i class="fa fa-check-square-o" 
                                aria-hidden="true"></i>
                                le respect du rythme du tout-petit favorisant 
                                son éveil
                            </li>
                            <li><i class="fa fa-check-square-o" 
                                aria-hidden="true"></i>
                                un accueil personnalisé valorisant les différences
                            </li>
                            <li><i class="fa fa-check-square-o" 
                                aria-hidden="true"></i>
                                la socialisation de l'enfant 
                            </li>
                        </ul>     
                        <br/> <br/> 
                        
                        <a href="{{asset('bundles/app/documents/MA-PE.pdf')}}"
                           style="color:#0B3861">
                            <i class="fa fa-download" 
                                aria-hidden="true"></i>
                            Télécharger le projet éducatif du multi-accueil
                        </a>
                    </div>
                    <div class="w3layouts_vertical_tab">
                        <p style="color:#0B3861"> <b>Créé 2003, le jardin 
                            d'enfants a une capacité journalière de 15 places. 
                            Il est ouvert aux enfants âgés de 2 à 6 ans <br/>
                         
                            Son projet éducatif est axé sur :  </b>
                        </p>
                        <ul>
                            <li><i class="fa fa-check-square-o" 
                                   aria-hidden="true"></i>l'autonomie </li>
                            <li><i class="fa fa-check-square-o" 
                                   aria-hidden="true"></i>
                                les liens intergénérationnels</li>
                            <li><i class="fa fa-check-square-o" 
                                   aria-hidden="true"></i>
                                les relations avec l’école</li>
                        </ul>   
                        <br/>
                        <a href="{{asset('bundles/app/documents/JEE-PE.pdf')}}"
                           style="color:#0B3861">
                            <i class="fa fa-download" 
                                aria-hidden="true"></i>
                            Télécharger le projet éducatif du jardin d'enfant
                        </a>
                 
                       
                    </div>
                    <div class="w3layouts_vertical_tab">
                    <p style="color:#0B3861"> <b>Une assistante maternelle agréée 
                        et salariée de l'association accueille chez elle un 
                        maximum de 4 enfants aux âges variés.
                        La crèche familiale fonctionne de façon complémentaire 
                        au multi-accueil et au jardin d'enfants éducatif. <br/>
                        Ce mode de garde est particulièrement adapté pour : </b>
                    </p>   
                    <ul>
                        <li><i class="fa fa-check-square-o" 
                            aria-hidden="true"></i>l'accueil de bébés dans un 
                            environnement familial et rassurant
                        </li>
                        <li><i class="fa fa-check-square-o" 
                            aria-hidden="true"></i>l'accueil d'urgence </li>
                        <li><i class="fa fa-check-square-o" 
                            aria-hidden="true"></i>
                            l'accueil d'enfants porteurs de handicap</li>
                        <li><i class="fa fa-check-square-o" 
                            aria-hidden="true"></i>l'accueil d'enfants dont 
                            les parents ont des horaires de travail atypiques 
                            (non régulier, tardif ou matinal, saisonnier, 
                            à temps partiel ...)
                        </li>
                    </ul>
                    <br/>
                    <a href="{{asset('bundles/app/documents/CF-PE.pdf')}}"
                        style="color:#0B3861">
                        <i class="fa fa-download" 
                             aria-hidden="true"></i>
                        Télécharger le projet éducatif de la crèche familiale
                    </a>
                  
                        
                       
                    </div>
                    <!--div class="w3layouts_vertical_tab">
                    <p>Quisque dictum elit in nunc malesuada lacinia. Cras id porttitor turpis. 
                            Nulla scelerisque ut lectus vitae tincidunt. Duis nec tellus at nunc blandit 
                            malesuada.Cras rhoncus varius arcu.
                            <i>" Cras feugiat dui augue, in malesuada sem porta id. Mauris tempor 
                                    aliquam risus eget sagittis. Nulla eu imperdiet mauris.</i></p>
                        <ul>
                            <li><i class="fa fa-check-square-o" aria-hidden="true"></i>Nulla eu imperdiet mauris in nunc</li>
                            <li><i class="fa fa-check-square-o" aria-hidden="true"></i>Vestibulum posuere eros et ante auctor</li>
                            <li><i class="fa fa-check-square-o" aria-hidden="true"></i>Curabitur leo nisl, viverra eu urna id</li>
                            <li><i class="fa fa-check-square-o" aria-hidden="true"></i>Suspendisse potenti uisque dictum elit</li>
                            <li><i class="fa fa-check-square-o" aria-hidden="true"></i>Phasellus a eros eleifend, vehicula ante</li>
                        </ul>
                    </div-->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //structures -->
