{% block body %}
    <form action="" method="POST">
        <label for="plainPassword">Mot de passe : </label>
        <input type="password" name="plainPassword"/>
        <input type="submit" />
    </form>
{% endblock %}