{% extends '@Balancelle/Default/layout.html.twig' %}

{% block body %}
    {{ parent() }}
<div class="main-content-inner" xmlns="http://www.w3.org/1999/html">
    <div class="form-row" >
        <div class="col-xl-12 col-lg-12 col-md-12 col-ml-12">
            <div class="card">
                <div class="card-body" >
                    <div class="alert alert-danger" role="alert">
                        <h4 class="header-title"></h4>
                        {{ message }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}