<div class="footer">
    <div class="row">
        <div class="col-lg-12" >
            &copy;  2018 labalancelle.yo.fr | Créé par: 
            <a href="#" style="color:#fff;" target="_blank">
                viduc
            </a>
        </div>
    </div>
</div>